<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="my-app" class="py-5 d-flex justify-content-center align-items-center">

        <div class="card bg-dark shadow w-50 my-5">

            <header class="p-5">
                <form class="input-group" @submit.prevent="onSubmit">
                    <input type="text" class="form-control" placeholder="Aggiungi una nuova Task" v-model="newTask">
                    <button class="btn btn-primary fs-3">+</button>
                </form>
            </header>

            <!-- /* ************************************************************************ */ -->

            <main class="p-3">
                <div class="row row-cols-1 gy-1">
                    <div class="col" v-for="(element, i) in allTasks">
                        <div class="card p-3 flex-row align-items-center">
                            <label class="flex-fill d-flex align-items-center">
                                <input type="checkbox" class="form-check-input" v-model="element.isDone">
                                <span class="text-primary ms-3 fs-4"
                                    :class="(element.isDone) ? 'text-secondary text-decoration-line-through' : '' ">{{element.title}}</span>
                            </label>
                            <button class="btn btn-danger" @click="onDeleteBtn(i)">Elimina</button>
                        </div>
                    </div>
                </div>
            </main>

        </div>

    </div>
    <script src="js/main.js"></script>
</body>

</html>